<%- include('header_login') %>

<!-- Register  Start-->
<section id="wrapper">
  <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);">
      <div class="login-box card"style="margin-top: -60px;" >
          <div class="card-body">
              <form class="form-horizontal form-material" id="registerform" action="/register" method="post">
                  <h3 class="text-center m-b-20">Sign Up</h3>
                  <% if (locals.error) { %>
                    <div class="alert alert-danger" role="alert">
                      <%= locals.error %>
                    </div>
                  <% } %>
                  <div class="form-group">
                      <div class="col-xs-12">
                        <input type="text" placeholder="First Name" id="firstname" name="firstname" class="form-control form-control-user">
                        <span id="firstname"></span>
                      </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-12">
                      <input type="text" placeholder="Last Name" id="lastname" name="lastname" class="form-control form-control-user">
                    </div>
                </div>
            
                  <div class="form-group ">
                      <div class="col-xs-12">
                        <input type="email" placeholder="Email Address" id="email" name="email" class="form-control form-control-user">
                        <span id="email"></span>
                      </div>
                  </div>
                  <div class="form-group ">
                      <div class="col-xs-12">
                        <input type="password" placeholder="Password" class="form-control form-control-user" id="password" name="password">
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="col-xs-12">
                        <input type="password" placeholder="Confirm Password" class="form-control form-control-user" id="confirmpassword" name="confirmpassword">
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-md-12">
                          <div class="custom-control custom-checkbox">

                            <input type="checkbox" class="custom-control-input" id="remember-chk" checked="">
                                    <label class="custom-control-label"  for="remember-chk" style="font-size: 10px;" >By registering you are agree with our <a href="terms-conditions.html">Terms &amp; Conditions </a> </label>
                          </div> 
                      </div>
                  </div>
                  <span id="vailidationError"></span>
                  <div class="form-group text-center p-b-20">
                      <div class="col-xs-12">
                        <input  class="btn btn-block btn-lg btn-info btn-rounded" type="submit" value="Submit">
                        <!-- <button type="button" id="add-contact"onclick="register(event.preventDefault())" class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light">Sign Up</button> -->
                        
                      </div>
                  </div>
                  <div class="form-group m-b-10">
                      <div class="col-sm-12 text-center">
                          Already have an account? <a href="/login" class="text-info m-l-5"><b>Sign In</b></a>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>



<script language="JavaScript"  src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<!-- Register End-->

<!-- Bootstrap tether Core JavaScript -->
<script src="assets/node_modules/popper/popper.min.js"></script>
<script src="assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<style>
  label.error {
    color: red;
  }
  </style>
    <script>
      $(document).ready(function() {
        $('#registerform').validate({
          rules: {
            firstname: {
              required: true,
            },
            lastname: {
              required: true,
            },
            email: {
              required: true,
              email: true
            },
            password: {
              required: true,
              minlength: 6
            },
            confirmpassword: {
              required: true,
              equalTo: "#password",
              minlength: 6
            }
          },
          messages: {
            firstname: {
              required: "Please enter your first name",
            },
            lastname: {
              required: "Please enter your last name",
            },
            email: {
              required: "Please enter your email address",
              email: "Please enter a valid email address"
            },
            password: {
              required: "Please enter a password",
              minlength: "Your password must be at least 6 characters long"
            },
            confirmpassword: {
              required: "Please enter a confirm password",
              minlength: "Your password must be at least 6 characters long",
              equalTo: "Your password and confirm password do not match"
            }
          }
        });
      });
      </script>
      
<script type="text/javascript">
  
    $(function() {
        $(".preloader").fadeOut();
    });
    $(function() {
        $('[data-toggle="tooltip"]').tooltip()
    });
    // ============================================================== 
    // Login and Recover Password 
    // ============================================================== 
    $('#to-recover').on("click", function() {
        $("#loginform").slideUp();
        $("#recoverform").fadeIn();
    });
</script>




  <script src="assets/js/pages/register.js"></script>
 <%- include('footer') %>